name: test

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  test-linux:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install Rust specified toolchain
        run: rustup show
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: just,nextest,cargo-llvm-cov
      - name: Run cargo doc, deny warnings
        run: |
          export RUSTDOCFLAGS="-D warnings"
          cargo doc --all-features --no-deps
      - name: Run cargo clippy
        run: |
          cargo clippy --all-targets --all-features
      - name: Run tests and collect coverage
        run: just ci-test
      - name: Upload coverage information
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
  test-windows:
    runs-on: windows-2022
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install Rust specified toolchain
        run: rustup show
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest
      - name: Run cargo check
        run: |
          cargo check --all-targets --all-features
      - name: Run cargo nextest
        run: |
          cargo nextest run --profile ci
  test-macos:
    runs-on: macos-12
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install Rust specified toolchain
        run: rustup show
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest
      - name: Run cargo check
        run: |
          cargo check --all-targets --all-features
      - name: Run cargo nextest
        run: |
          cargo nextest run --profile ci